NODE_ENV=production
DATABASE_URL=${{Postgres.DATABASE_URL}}

JWT_ACCESS_SECRET=28a8263ab8fc6d919111b506e5f5208eb438b48e012e4f3fa5b295a6b286b5dccc1565f89d362ca0abc6ef53f22f3298
JWT_REFRESH_SECRET=167c967758cbc3df386898074e25f267a4a9b415f952bd9be3a723a0be26a3da2f48f543d769d35987fff7787ef0f2ce
TOKEN_ENCRYPTION_KEY=685cf3072e10efd5179eeffd622c54929c4a2b4eadd2927f978f76e2be9017ac

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=30

CORS_ORIGIN=https://YOUR-FRONTEND.up.railway.app

SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_APP_URL=https://YOUR-BACKEND.up.railway.app
PUBLIC_BACKEND_URL=https://YOUR-BACKEND.up.railway.app
SHOPIFY_REDIRECT_URI=https://YOUR-BACKEND.up.railway.app/api/shopify/callback